$block-color: #82c0ff;
$border-color-light: #ddd;
$border-color-dark: #222;
$bg-color-light: #efefef;

.game {
    user-select: none;

    .board-wrapper {
        display: flex;
        flex-direction: column;
        margin: 2rem 0;

        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                aspect-ratio: 1;
                flex: 1;
                font-size: 20px;
                border-color: $border-color-light;
                border-style: solid;
                border-width: 0 1px 1px 0;
                background: none;
                outline: 0;
                box-sizing: content-box;

                &:nth-child(3n) {
                    border-right: 2px solid $border-color-dark;
                }

                &:last-child {
                    border-right: 0;
                }

                &.active {
                    background-color: rgba($block-color, 30%);
                }

                &.selected {
                    background-color: $block-color;
                }
            }

            &:nth-child(3n) {
                &:not(:last-child) {
                    border-bottom: 2px solid $border-color-dark;
                }

                button {
                    border-bottom: 0;
                }
            }

            &:last-child button {
                border-bottom: 0;
            }
        }
    }

    .number-wrapper {
        display: grid;
        grid-template-columns: repeat(5, min(16%, 3.5rem));
        gap: 0.5rem;
        justify-content: center;

        button {
            border: 1px solid $border-color-light;
            aspect-ratio: 1;
            border-radius: 50%;
            background: none;
            font-size: 150%;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;

            &:focus,
            &:hover {
                background-color: $bg-color-light;
            }
        }
    }
}
